body{
    background-image: linear-gradient(to bottom,#ffcdc9 , #f09089);
    background-attachment: fixed;
}

#field{
    text-align: center;
    background-color: white;
    width: 35%;
    margin: auto;
    padding: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.087);
    animation: 1s fadeInUp;
}
@keyframes fadeInUp {
    0% {
      transform: translateY(0%);
      opacity: 0;
    }
    100% {
      transform: translateY(15%);
      opacity: 1;
    }
  }

  #input1 {
    border-color:  blue;
    border-radius: 3px;
    border-width: 1.5px;
    font-size: large;
    width: 50%;
    margin-bottom: 5px;
    
  }

.container{
    text-align: center;
    
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    margin-top: 10px;
}

.completed{
    text-decoration: line-through;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.300);
    animation: fadeIn 2s;      
}
@keyframes fadeIn {
  0% { color: black; }
  100% { color: rgba(0, 0, 0, 0.300); }
}


#completedNumber{
    font-size: small;
    cursor:default;
}
li{
    font-size: x-large;
    list-style-type: none;
    text-align: center;
    margin: 3px;
    
}

.trashcan{
    font-size: small;
    margin-left: 30px;
    font-weight:100;
    cursor: pointer;
       
}

#message{
    color: rgb(173, 34, 34);
    animation: blinker 1s ;
    font-style: italic;
    font-size: x-small;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }


  
